html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    font-family: 'Bebas Neue', cursive;
}

.bg-ocre{
    background-color: rgb(242, 162, 44) !important;
}

.btn-instagram{ 
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: #fff !important;
}
.nav-pills .nav-link{
    color: #424242;
}
.nav-pills .nav-link.active{
    color: #fff;
    background-color: #424242;
}

.btn-whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btn-whatsapp .btn{
    background: #fff;
}

.btn-whatsapp .btn:hover{
    background: #28a745;
}